<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
<style>
    .bg-6 {
      background-color: #1ABC9C;
/*      background-color: #2f2f2f;  Black Gray */
      color: #2f2f2f;
  }
    .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

</style>
<div class="container-fluid bg-6 text-center">
    <h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
      <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
    <div class="fileUpload btn btn-primary">
        <span>Choose File</span>
        <input id="uploadBtn" type="file" class="upload" />
    </div>
        <button type="button" class="btn btn-default">Upload</button>
    </form>
    <!--<input id="uploadFile" placeholder="Choose File" disabled="disabled" />-->
    <!--<div class="fileUpload btn btn-primary">-->
        <!--<span>Choose File</span>-->
        <!--<input id="uploadBtn" type="file" class="upload" />-->
    <!--</div>-->
</div>
<script>
document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>
    {% for file in current_files %}
    <p>{{file}}</p>
    {% endfor %}
{% endblock %}