<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
<style>
    .bg-12 {

      color: #808080;
  }
    .bg-6 {
      background-color: #ec583a;
      color: #2f2f2f;
  }
    .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.bg-2 input {
background-color: #474e5d;
border: none;
}


</style>
<div class="container-fluid bg-12 text-center">
    <h1>Upload of Log Files</h1>
    <p>Users have the option to upload additional wifi log data. <br />
        This may result in more accurate and better predictive models.<br />
        The additional files will automatically go through our data cleaning process. <br />
        They will then be incorporated into the model during the <b>next update</b>.

    </p>
</div>
<div class="container-fluid bg-6 text-center">
    <h1>Upload Wifi Log Counts</h1>
    <p>Wifi Log data must be uploaded in the form of a compressed .zip folder.</p>
    <form action="" method=post enctype=multipart/form-data>
        <div class="fileUpload btn btn-default">
            <input class="upload" id="uploadBtn" type=file name=file> Choose File (must be zip)
            </div>
            <input type=submit value=Upload>
    </form>
    {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
</div>
<!--<div class="container-fluid bg-2 text-center">-->
    <!--<h1>Upload CSI Survey Data</h1>-->
    <!--<p>Wifi Log data must be uploaded in the form of a .xlxs file</p>-->
    <!--<form action="" method=post enctype=multipart/form-data>-->
        <!--<div class="fileUpload btn btn-default">-->
            <!--<input id="uploadBtn1" class="upload" type=file name=file1> Choose File (must be .xlsx)-->
        <!--</div>-->
        <!--<div>-->
            <!--<input type=submit value=Upload>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--     {% for file in current_files %}
    <p>{{file}}</p>
    {% endfor %} -->
{% endblock %}