<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
<style>

form{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    color:#fff;
}
form select {
    height: 60px;
    width: 200px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    font-size: 15pt;
    border: none;
    color: grey;
}
form input {
    height: 50px;
    width: 200px;
    background-color: #ec583a;
    font-size: 15pt;
    color: #fff;
    margin-left: auto;
    margin-bottom: auto;
    border: none;
}

 @media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

.plot {
min-height:300px;
min-width: 300px;
overflow:hidden;
}



</style>
    <div class="container-fluid bg-4 text-center">
        <h2 class="margin">Histogram / Bar Plot</h2>
        <form action= "">

            <select name="Room">
                <option value="default">Select room</option>
                <!--'rooms' is a parameter passed in the flask endpoint for '/search'
                This code iterates through that parameter and populates a search option for each value
                This structure is identical for all the search boxes-->
                {% for room in rooms %}
                <option value="{{room.0}}">{{room.0}}</option>
                {% endfor %}
            </select><br>

            <select name="Date">
                <option value="default">Select date</option>
                {% for date in dates %}
                <option value="{{date.0}}">{{date.0}}</option>
                {% endfor %}
            </select><br>

            <select name="Chart">
                <option value="default">Select chart</option>
                <!--'rooms' is a parameter passed in the flask endpoint for '/search'
                This code iterates through that parameter and populates a search option for each value
                This structure is identical for all the search boxes-->
                {% for chart in charts %}
                <option value="{{chart}}">{{chart}}</option>
                {% endfor %}
            </select><br>

            <input type="submit" value="Submit">
            {{ error }}
        </form>
    </div>
<br>
<br>

<div class="plot" align="center">

    {{ script | safe }}
    {{ div | safe }}
</div>
<br>
<br>


{% endblock %}