<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
<style>
    .logo-small {
    color: #f4511e;
    font-size: 50px;
}
form{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    color:#fff;
}
form select {
    height: 60px;
    width: 200px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    font-size: 15pt;
    border: none;
    color: grey;
}
form input {
    height: 50px;
    width: 200px;
    background-color: #ec583a;
    font-size: 15pt;
    color: #fff;
    margin-left: auto;
    margin-bottom: auto;
    border: none;
}
</style>
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Estimate Occupancy</h3>
        <form action= "">

            <select name="Room">
                <option value="default">Select room</option>
                <!--'rooms' is a parameter passed in the flask endpoint for '/search'
                This code iterates through that parameter and populates a search option for each value
                This structure is identical for all the search boxes-->
                {% for room in rooms %}
                <option value="{{room.0}}">{{room.0}}</option>
                {% endfor %}
            </select><br>
            <select name="Date">
                <option value="default">Select date</option>
                {% for date in dates %}
                <option value="{{date.0}}">{{date.0}}</option>
                {% endfor %}
            </select><br>

            <select name="Time">
              <option value="default">Select time</option>
                {% for time in times %}
                <option value="{{time.0}}">{{time.0}}</option>
                {% endfor %}
            </select><br>

            <input type="submit" value="Submit">
        </form>
    </div>
    <!--<div class="container-fluid bg-3 text-center">-->
  <!--<h3 class="margin">Estimated Occupancy Results</h3>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
        <!--<div class="binary-empty">-->
           <!--<span class="glyphicon glyphicon-remove-sign logo-small"></span>-->
           <!--<h4>EMPTY</h4>-->
            <!--<p>This class is estimated to be empty, meaning less than 25% full.</p>-->
         <!--</div>-->
        <!--<div class="binary-occupied">-->
           <!--<span class="glyphicon glyphicon-ok-sign logo-small"></span>-->
           <!--<h4>OCCUPIED</h4>-->
            <!--<p>This class is estimated to be occupied, meaning more than 25% full.</p>-->
         <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
        <!--<div class="tertiary-low">-->
            <!--<span class="glyphicon glyphicon-circle-arrow-down logo-small"></span>-->
            <!--<h4>LOW</h4>-->
            <!--<p>This class is estimated to have a low occupancy, meaning less than 25% full.-->
            <!--</p>-->
         <!--</div>-->
        <!--<div class="tertiary-medium">-->
            <!--<span class="glyphicon glyphicon-circle-arrow-right logo-small"></span>-->
            <!--<h4>MEDIUM</h4>-->
            <!--<p>This class is estimated to have a medium occupancy, meaning between 25 -75% full.-->
            <!--</p>-->
         <!--</div>-->
        <!--<div class="tertiary-high">-->
            <!--<span class="glyphicon glyphicon-circle-arrow-up logo-small"></span>-->
            <!--<h4>HIGH</h4>-->
            <!--<p>This class is estimated to have a high occupancy, meaning more than 75% full.-->
            <!--</p>-->
         <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
        <!--<div class="linear">-->
           <!--<h4 style="color: #f4511e; font-size: 70px">19</h4>-->
            <!--<p>people are estimated to be in this class.-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
  <!--</div>-->


{% endblock %}