<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
<style>

form{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
.btn-default {
padding-top:15px;
    height: 60px;
    width: 200px;
    margin-bottom: 30px;
    font-size: 15pt;
    border: none;
    color: grey;
}
.btn-default:hover{
    background-color: #ec583a;
    color:#fff;
    }

</style>
    <div class="container-fluid bg-4 text-center">
        <h2 class="margin">Explore Occupancy</h2>
        <h3>Choose how you would like to visualise the data</h3><br>
        <form>
            <a href="/heatmap" class="btn btn-default" role="button">Heat Map</a>
            <a href="/simple" class="btn btn-default" role="button">Histogram / Bar</a>
            <a href="/correlation" class="btn btn-default" role="button">Correlation Plot</a>
            <a href="/evaluator" class="btn btn-default" role="button">Overview</a>
        </form>
    </div>

{% endblock %}