
<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
<style>
      h1 {
        font-size: 5vw;
        letter-spacing: 0.825em;
        text-align: centre;
        text-decoration: none;
        color: #515756;
    }
h3 {
padding-bottom: 15px;
}
.thumbnail {
    position:relative;
    overflow:hidden;
    padding-left:15px;
    padding-right:15px;
    padding-top:50px;
    padding-bottom:50px;
}
.thumbnail a {
text-decoration:none;
color: #FFFFFF;
}
.thumbnail:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .4);
  }

#estimator {
background-color: #474e5d;
}
#explore {
background-color:  #1abc9c;
}
#d_input {
background-color:  #ec583a;
}
</style>
<div class="container-fluid bg-8 text-center">
    <h1 class="margin">WiFinder</h1>
    <div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="thumbnail" id="explore">
              <a href="/explore" class="">
                <div class="caption">

                </div>
                  <h3 class="">Explore</h3>
                  <p>Users can choose any combination of time, date and room and, from the data that
                      we have stored in our database, interesting statistics can be generated.
                      New data can be uploaded at any time in the data upload section of our website.</p>
                        <p>To display the statistics we have used a program called Bokeh which allowed us
                        to present the data in interesting ways.</p>
               </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail" id="estimator">
              <a href="/estimator">
                <div class="caption">

                </div>
                  <h3 class="">Estimator</h3>
                    <p>Users can choose a specific time, date and room and, from the data that
                        we have stored in our database, our models will generate the estimated
                        occupancy of that room using the wifi log data. New data can be uploaded
                        at any time in the data upload section of our website.</p>
                        <p>After extensive data analysis, we have chosen the three best models which
                        give the most accurate predictions. Our binary model predicts whether a
                        class is empty or occupied. Our linear model predicts the actual headcount
                        of the class. Our last model categorises occupancy into high, medium or low
                        and predicts occupancy of a class in these bins.</p>
               </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail" id="d_input">
              <a href="/lectureinput" class="">
                <div class="caption">

                </div>
                  <h3 class="">Data input</h3>
                   <p>New data can be uploaded
                    at any time in the data upload section of our website. This helps with updating our models to provide
                    insight into room occupnacy levels over a period of time. This insight can be used to better inform
                  future room allocation and timetables</p>
               </a>
               </a>
            </div>
        </div>
        <script>
    <!--$("[rel='tooltip']").tooltip();-->

    <!--$('.thumbnail').hover(-->
        <!--function(){-->
            <!--$(this).find('.caption').slideDown(250); //.fadeIn(250)-->
        <!--},-->
        <!--function(){-->
            <!--$(this).find('.caption').slideUp(250); //.fadeOut(205)-->
        <!--}-->
    <!--);-->
    <!--function to get all thumbnails same size-->
    function equalHeight(group) {
    var tallest = 0;
    group.each(function() {
        var thisHeight = $(this).height();
        if(thisHeight > tallest) {
            tallest = thisHeight;
        }
    });
    group.each(function() { $(this).height(tallest); });
}

$(document).ready(function() {
    equalHeight($(".thumbnail"));
});
    </script>
  {% endblock %}