<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title> WiFinder</title>
    <body>
        <H1> WiFinder</H1>
        
        <div class="container">
          <ul>
            <li class="one"><a href="index.html">Home</a></li>
            <li class="two"><a href="results.html">Results</a></li>
            <hr />
          </ul>
        </div>
        <form action= "results.html">
            <select name="Room">
              <option value="default">Select room</option>
              <option value="B02">B02</option>
              <option value="B03">B03</option>
              <option value="B04">B04</option>
            </select><br>
            <select name="Time">
              <option value="default">Select time</option>
              <option value="9">9am</option>
              <option value="10">10am</option>
              <option value="11">11am</option>
              <option value="12">12pm</option>
              <option value="1">1pm</option>
              <option value="2">2pm</option>
              <option value="3">3pm</option>
              <option value="4">4pm</option>
              <option value="5">5pm</option>
            </select><br>
            <select name="Day">
              <option value="default">Select day</option>
              <option value="mon">Mon</option>
              <option value="tues">Tues</option>
              <option value="wed">Wed</option>
              <option value="thurs">Thurs</option>
              <option value="fri">Fri</option>
            </select><br>
            <select name="Density">
              <option value="default">Select density</option>
              <option value="0">0%</option>
              <option value="25">25%</option>
              <option value="50">50%</option>
              <option value="75">75%</option>
              <option value="100">100%</option>
            </select><br>
            <input type="submit" value="Submit">
        </form>
<!--
        <div id="logo">
            <div id="sigma">
                <img src="sigma.png">
            </div>
            <div id="wifi">
                <img src="wifi.png">
            </div>
        </div>
-->
    </body></head></html>