
<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

{% endblock %}