
<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "logged_out_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
      <style>
      html,body{height:100%;}
    .container-fluid {
        height:100%;
     }
    .bg-1 {
       background-image: url("../static/images/ucd.jpg");
        background-repeat: no-repeat;
        color: #555555;
        background-size:100%,100%;
    }
    h2 {
        font-size: 50pt;
        letter-spacing: 0.825em;
        text-align: center;
        text-decoration: none;
        color: #515756;
    }
    .error {
    background-color: #fff;
    }
      </style>

      <div class="container-fluid bg-1 text-center">
        <h2 class="margin">Wifinder</h2>
        <h3>UCD Occupancy Estimator</h3><br>
        <form action="" method="post">
          <input type="text" placeholder="Username" name="username" value="{{
            request.form.username }}"><br><br>
           <input type="password" placeholder="Password" name="password" value="{{
            request.form.password }}"><br><br>
          <input class="btn btn-default" type="submit" value="Login">
            <a href="/register" class="btn btn-info" role="button">Register</a>
        </form><br>
        <div class="container error">
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
          {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
         </div>
      </div>
{% endblock %}