
<!--Extends sets the page it needs to inherit from, in this case it is inheriting the basic layout-->
{% extends "page_layout.html" %}
<!--Block content is the content which inserts into the block section of the parent page-->
{% block content %}
      <style>
       .bg-1 {
       background-image: url("../static/images/ucd.jpg");
        background-repeat: no-repeat;
        color: #555555;
        background-size:100%,100%;
        length:800px;
        }
      </style>
      <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Wifinder</h3>
        <h3>UCD Occupancy Estimator</h3><br>
        <form action="" method="post">
          <input type="text" placeholder="Username" name="username" value="{{
            request.form.username }}"><br><br>
           <input type="password" placeholder="Password" name="password" value="{{
            request.form.password }}"><br><br>
          <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
          {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      </div>
{% endblock %}