{% extends "page_layout.html" %}
{% block content %}

        <form action= "results.html">

            <select name="Room">
                <option value="default">Select room</option>
                {% for room in rooms %}
                <option value="{{room}}">{{room}}</option>
                {% endfor %}
            </select><br>

            <select name="Time">
              <option value="default">Select time</option>
                {% for time in times %}
                <option value="{{time}}">{{time}}</option>
                {% endfor %}
            </select><br>

            <select name="Day">
              <option value="default">Select day</option>
                {% for day in days %}
                <option value="{{day}}">{{day}}</option>
                {% endfor %}
            </select><br>

            <select name="Density">
              <option value="default">Select density</option>
                {% for density in densities %}
                <option value="{{density}}">{{density}}</option>
                {% endfor %}
            </select><br>

            <input type="submit" value="Submit">
        </form>

{% endblock %}