body {
    background-color: #EFEFEF;
    background-image: url(../images/Blogo.png);
    background-repeat: no-repeat;
    background-position: 60% 60%; 
    background-size: 70%;
}
body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
  min-height: 800px;
}

/*styling of wifinder header*/
h1 {font-size: 50pt;
    letter-spacing: 0.825em;
    text-align: center;
    text-decoration: none;
    color: dimgray;
}

/*styling of navigation bar*/
ul li {
  display: inline;
  text-align: center;
}
.navbar{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.navbar a {
    display: inline-block;
    color: #ec583a;
    width: 200px;
    text-decoration: none;
    font-size: 40px;
    padding: 1.5rem 0;
    float: left;
}
.navbar a:hover {
    color: #ec583a;
    border-bottom: #ec583a solid 3px;
}

/*styling of results page --> buttons*/
#timeslot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    max-width: 700px;
}
.empty{
  display: inline-block;
  border-radius: 4px;
  background-color: lightcoral;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.empty span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.empty span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.empty:hover span {
  padding-right: 25px;
}

.empty:hover span:after {
  opacity: 1;
  right: 0;
}
.full{
  display: inline-block;
  border-radius: 4px;
  background-color: skyblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.full span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.full span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.full:hover span {
  padding-right: 25px;
}

.full:hover span:after {
  opacity: 1;
  right: 0;
}
.half{
  display: inline-block;
  border-radius: 4px;
  background-color: darkseagreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.half span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.half span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.half:hover span {
  padding-right: 25px;
}

.half:hover span:after {
  opacity: 1;
  right: 0;
}

/*styling of form on search page*/
form{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
form select {
    height: 60px;
    width: 200px;
    margin-bottom: 30px;
    background-color: #CAEBF2;
    font-size: 15pt;
    border: none;  
}
form input {
    height: 50px;
    width: 200px;
    background-color: #ec583a;
    border-radius: 10px;
    font-size: 15pt;
    color: white;
    margin-left: auto;
    margin-bottom: auto;
}
