body {
    background-color: #EFEFEF;
    background-image: url(../images/Blogo.png);
    background-repeat: no-repeat;
    background-position: 60% 60%; 
    background-size: 70%;
}
h1 {font-size: 50pt;
    letter-spacing: 0.825em;
    text-align: center;
    color: dimgray;
}
{
  box-sizing: border-box;
}

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
  min-height: 800px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
}

.navbar{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
a {
  display: inline-block;
  width: 200px;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #ec583a;
  font-size: 40px;
  float: left;
}

.two:hover ~ hr {
  margin-left: 50%;
}


hr {
  height: .25rem;
  width: 40%;
  margin: 0;
  background: #ec583a;
  border: none;
  transition: .3s ease-in-out;
}
#login{
    text-align: center;
}
.empty{
  display: inline-block;
  border-radius: 4px;
  background-color: lightcoral;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.empty span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.empty span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.empty:hover span {
  padding-right: 25px;
}

.empty:hover span:after {
  opacity: 1;
  right: 0;
}
.full{
  display: inline-block;
  border-radius: 4px;
  background-color: skyblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.full span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.full span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.full:hover span {
  padding-right: 25px;
}

.full:hover span:after {
  opacity: 1;
  right: 0;
}
.half{
  display: inline-block;
  border-radius: 4px;
  background-color: darkseagreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.half span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.half span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.half:hover span {
  padding-right: 25px;
}

.half:hover span:after {
  opacity: 1;
  right: 0;
}

/*
#logo img{
    height: 300px;
    float: left;inpu
    opacity: 0.07;
    margin-bottom: 30px;
    margin-left: 40%
}
#sigma img{
    margin-left: 10%
}
*/
form{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
form select {
    height: 60px;
    width: 200px;
    margin-bottom: 30px;
    background-color: #CAEBF2;
    font-size: 15pt;
    border: none;  
}
form input {
    height: 50px;
    width: 200px;
    background-color: #ec583a;
    border-radius: 10px;
    font-size: 15pt;
    color: white;
    margin-left: auto;
    margin-bottom: auto;
}
#timeslot {
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 50px;
}